<header>
    <div class="header">
        <div class="header-contacts-mobil d-f container">
            <div class="language">
                <button class="btn-lng active">УК</button>
                <button class="btn-lng">РУ</button>
                <button class="btn-lng">EN</button>
            </div>
            <div class="adress">
                <span>Одеса, Адміральський пр., 3</span>
            </div>
            <a class="tel" href="tel:+38 (050) 390 15 91">+38 (050) 390 15 91</a>
            <a class="facebook" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12.0733C24 5.40541 18.6274 0 12 0C5.37258 0 0 5.40541 0 12.0733C0 18.0995 4.38823 23.0943 10.125 24V15.5633H7.07813V12.0733H10.125V9.41343C10.125 6.38755 11.9165 4.71615 14.6576 4.71615C15.9705 4.71615 17.3438 4.95195 17.3438 4.95195V7.92313H15.8306C14.3399 7.92313 13.875 8.85379 13.875 9.80857V12.0733H17.2031L16.6711 15.5633H13.875V24C19.6118 23.0943 24 18.0995 24 12.0733Z" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="header-inner d-f container">
            <div class="logo d-f">
                <a href="index.html"><img src="../img/img_logo.png" alt="logo"></a> 
            </div>
            <div class="header-right-wrapper d-f">
                <div class="header-contacts d-f">
                    <div class="language d-f">
                        <button class="btn-lng active">УК</button>
                        <button class="btn-lng">РУ</button>
                        <button class="btn-lng">EN</button>
                    </div>
                    <div class="adress">
                        <span>Одеса, Адміральський пр., 3</span>
                    </div>
                    <a class="tel" href="tel:+38 (050) 390 15 91">+38 (050) 390 15 91</a>
                    <a class="facebook" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 12.0733C24 5.40541 18.6274 0 12 0C5.37258 0 0 5.40541 0 12.0733C0 18.0995 4.38823 23.0943 10.125 24V15.5633H7.07813V12.0733H10.125V9.41343C10.125 6.38755 11.9165 4.71615 14.6576 4.71615C15.9705 4.71615 17.3438 4.95195 17.3438 4.95195V7.92313H15.8306C14.3399 7.92313 13.875 8.85379 13.875 9.80857V12.0733H17.2031L16.6711 15.5633H13.875V24C19.6118 23.0943 24 18.0995 24 12.0733Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <button class="nav-btn">
                    <span></span>
                </button>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <div class="nav-wrapper">
                        <button class="close-nav">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7L25 25" stroke="red" stroke-width="2"/>
                            <path d="M25 7L7 25" stroke="red" stroke-width="2"/>
                            </svg>
                        </button>
                        <nav class="nav d-f">
                            <a class="link" href="about.html">о нас</a>
                            <a class="link" href="services.html">послуги</a>
                            <a class="link" href="team.html">команда</a>
                            <a class="link" href="publications.html">публікації</a>
                            <a class="link" href="contact.html">контакти</a>
                        </nav>
                    </div>
                </div>   
            </div>
        </div>
        <div class="home-content-wrapper container">
            <h1>системний адміністратор<br>правових рішень</h1>
            <div class="home-page-title">  
            </div>
        </div>
        <div class="btn-primary-wrapper container">
            <a href="#main">
                <div class="btn-primary ">
                    <img src="../img/img_btn_primary.svg" alt="button">
                </div>
            </a>
        </div> 
    </div>   
</header>
