// если вы хотите использовать sass-переменные - удалите root
// colors
// :root {
//   --main-color:#323264;
//   --color-black: #fff;
// }

$black-color: #000;
$white-color: #fff;
$gray-color: #686887;
$red-color: #F0145A;

$base-font:'Roboto', sans-serif;
$base-font-size: 18px;

